@font-face {
  font-family: "Berlyna";
  src: local("Berlyna"), url("./fonts/Berlyna.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Allegretto";
  src: local("Allegretto"), url("./fonts/Allegretto.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Mgnon";
  src: local("Mgnon"), url("./fonts/Mgnon.ttf") format("truetype");
  font-weight: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heart {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;

  position: absolute;
  left: 45%;
  top: 45%;

  background-color: red;

  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";

  position: absolute;
  height: 50px;
  width: 50px;

  background-color: red;
  border-radius: 50%;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}
